{% extends 'base.html' %}
{% load compress %}

{% block title %}Represent | elected officials and electoral districts database{% endblock %}

{% block content %}
<div class="container pretty" id="index">
  <header>
    <h1>
      Represent<h1>
      <h2>Database & API of Canadian Elected Officials and Electoral Boundaries<br>
      <h2>built by
      <a href="http://opennorth.ca/"><img src="{{ STATIC_URL }}img/opennorth_logo.png" alt="" width="90" height="90"></a>
      <a href="http://opennorth.ca/">Open North</a>
     </h2>
  </header>

  <form id="form" class="form-inline">
    <h2>Enter a Canadian address or postal code to find your elected representatives</h2>
    <input type="text" name="address" id="address" class="span4" placeholder="Address or postal code">
    <button id="submit" class="btn large primary">
      <i class="icon-search"></i>
      Find
    </button>
  </form>

  <div id="notice" class="alert alert-info">
    <strong>Developers:</strong>
    Use our <b><a href="{% url apidoc %}">free API</a></b> and open-source code in your own projects!
    <a href="{% url apidoc %}">Get started.</a>
  </div>

  <div class="row">
    <div class="span12">
      <select id="addresses"></select>
    </div>
    <div class="span6">
      <div id="boundaries">&nbsp;</div>
    </div>
    <div class="span6">
      <div id="map">&nbsp;</div>
    </div>
  </div>

  <hr class="soften">

  <section id="coverage">
    <h2>The most comprehensive database of Canadian elected officials</h2>

    <p>Represent includes all Members of Parliament, all members of provincial legislatures, and municipal elected officials for <strong id="progress">{{ representative_progress }}%</strong> of the Canadian population. It is <strong>the most comprehensive</strong> database of its kind. It has all federal and provincial electoral boundaries, and municipal ward boundaries for <strong>{{ boundary_progress }}%</strong> of the population. <br> <a href="http://opennorth.ca/donate/">Help us get to 100% by volunteering to scrape data or collect new boundaries.</a></p>
  </section>
  
  <hr class="soften">

  <section id="coverage">
    <h2>How you can use Represent</h2>
    <p>From running advocacy campaigns to making legislative information more accessible, organizations use Represent to match postal codes and addresses to electoral districts and elected official contact information. To learn more about how specific civil society organizations use Represent, <a href="http://blog.opennorth.ca">check out our blog</a>. There are many ways you can benefit from Represent's resources. Here are some suggestions:<p>

<div class="row grid">
    <div class="span3">
      <h2>On your website</h2>
      <p>You can set up your own instance of Represent using our API. For example, <a href="http://www.citizenbridge.org">Citizen Bridge</a> uses the API to display riding maps on their website and the "ridings to postal code" data to sign-up users. Instructions are available in the <a href="{% url apidoc %}">documentation</a> and Open North is <a href="mailto:represent@opennorth.ca">here to help!</a></p>
    </div>
    <div class="span3">
      <h2>In a campaign</h2>
      <p>Advocacy groups can access accurate information about Canadian representatives based on the postal code or address of their supporters and unlike other postal code lookup services, Represent is completely free and <a href="https://github.com/opennorth/represent-canada">open source</a>. For example, we helped <a href="http://environmentaldefense.ca/">Environment Defense</a> directly integrate Represent into their online forms so that when a supporter joins their letter-writing campaign, it is automatically sent to the correct representative. To facilitate this type of integration, Open North and its volunteers have created <a href="http://blog.opennorth.ca/2013/01/28/drupal-modules/">two Drupal Modules</a>, for <a href="http://drupal.org/project/webform_represent">Webforms</a> and <a href"http://drupal.org/project/civinorth">CiviCRM users.</a></p>
    </div>
    <div class="span3">
      <h2>Develop a new app</h2>
      <p>The Represent database and API can be used to create lots of new apps like the Windows Phone app, <a href="http://www.windowsphone.com/en-us/store/app/my-representatives/2da50757-efad-4e57-ad04-1154ef7000a7">MyRepresentatives</a>, which tracks the activity of MPs in Parliament. If you are interested in using Represent and want to set up a private instance of the service to ensure your project has reliable access to the server, <a href="mailto:represent@opennorth.ca">contact Open North</a> to discuss Service Level Agreements.</p>
    </div>
  </div>
  </section>

  <hr class="soften">

  <section id="users">
    <h2>Groups that use and rely on Represent</h2>

    <ul class="unstyled">
      <li><a href="http://citizensconnected.com/"><img src="/static/img/citizensconnected.png" width="111" height="35" alt="Citizens Connected"></a></li>
      <li><a href="http://davidsuzuki.org/"><img src="/static/img/davidsuzuki.png" width="124" height="50" alt="David Suzuki Foundation"></a></li>
      <li><a href="http://civic.ca/"><img src="/static/img/civic.png" width="153" height="30" alt="Civic.ca"></a></li>
      <li><a href="http://citizenbridge.org/"><img src="/static/img/citizenbridge.png" width="162" height="50" alt="Citizen Bridge"></a></li>
      <li><a href="http://makethemworkforyou.com/"><img src="/static/img/makethemworkforyou.png" width="86" height="50" alt="Make Them Work For You Ltd"></a></li>
      <li><a href="http://nextparliament.ca/"><img src="/static/img/nextparliament.png" width="38" height="30" alt="Next Parliament"></a></li>
      <li><a href="http://www.taxfairness.ca/"><img src="{{ STATIC_URL }}img/taxfairness.png" height="50" alt="Canadians for Tax Fairness"></a></li>
      <li><a href="http://www.fairvote.ca/"><img src="{{ STATIC_URL }}img/fairvote.png" height="50" alt="Fair Vote Canada"></a></li>
    </ul>

  </section>

 <hr class="soften">

  <div class="row grid">
    <div class="span3">
      <h2>Free API</h2>
      <p>Read the <a href="{% url apidoc %}">documentation</a>.</p>
    </div>
    <div class="span3">
      <h2>Open-source</h2>
      <p>Built for and by the open-government community via <a href="https://github.com/opennorth/represent-canada">GitHub</a>.</p>
    </div>
    <div class="span3">
      <h2>Stay up-to-date</h2>
      <p>Subscribe to our <a href="http://groups.google.com/group/represent-canada/">mailing list</a> to be notified of API changes.</p>
    </div>
    <div class="span3">
      <h2>Contact us</h2>
      <p><a href="mailto:represent@opennorth.ca">represent@opennorth.ca</a></p>
    </div>
     <div id="notice" class="alert alert-info">
      <strong>Developers:</strong>
      Consult the <a href="{% url datasummary %}">list of boundary and representative sets</a> available, along with sample responses of API calls.
    </div>
  </div>


  <hr class="soften">

  <div class="row grid">
    <div class="span2">
      <h2>Authors</h2>
      <p><a href="http://michaelmulley.com/">Michael Mulley</a> and <a href="http://opennorth.ca/team/">James McKinney</a></p>
    </div>
    <div class="span5">
      <h2>Scrapers</h2>
      <p>Arlo Breault, Carmine Casciato, Andrew Dyck, Rory Geoghegan, Trevor Knight, Matthew Leon, Camilo Lopez, Dylan McCall, Robin Millette, Amir Pakdel, Kamil Politowicz and James Wagner.</p>
    </div>
    <div class="span5">
      <h2>Special thanks</h2>
      <p>Kent Mewhort for legal information, Aran Rasmussen for general help, and the Chicago Tribune&rsquo;s <a href="https://github.com/newsapps/django-boundaryservice">Boundary Service</a> for code and inspiration.</p>
    </div>
  </div>
</div>
{% endblock %}